@model IEnumerable<DoAnBanHang.Models.SanPham>
@{
    
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ao_count = 0;
    var quan_count = 0;
    var giay_count = 0;
    var maxLength = 3;
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Image/1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/Image/1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/Image/1.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>
<h2 class="title">NEW ARRIVALS</h2>
<div class="products">


    @*-------------------AO-------------------------------*@
    <div class="col">
        <div class="content-top">
        </div>
        <div class="row">

            @foreach (var item in Model)
            {

                if (ao_count < maxLength)
                {
                    if (item.ID_Loai == 1)
                    {
                        <div class="col-md-4 item">
                            @*<a href="@Html.Action("Detail","Index", new { id=item.ID_SP })">*@
                            <a href="/Detail/Index/@item.ID_SP">
                                <div class="item-inner"></div>
                                <div class="item-img-wrap">
                                    <img src="@Url.Content(item.Image)" class="item-img" />
                                </div>

                                <p class="item-name">@Html.DisplayFor(modelItem => item.TenSP)</p>
                                <div class="item-price">

                                    <span> @Html.DisplayFor(modelItem => item.DonGia) đ</span>
                                </div>
                            </a>
                            @*<a href="/Shopping/AddToCart/@item.IDPro" id="btn_cart">Thêm vào giỏ</a>*@
                        </div>
                        ao_count += 1;
                    }
                }

            }
            <div class="btn-more">
                <p> <a href="@Url.Action("Ao", "Product")" class="btn-more-a"> Xem thêm</a></p>
            </div>
        </div>
    </div>
    @*-------------------Quan-------------------------------*@
    <div class="col">

        <div class="content-top">
            @*<div class="heading">
                <h3> Quần </h3>
                <div class="btn-more">
                    <p><a href="@Url.Action("Quan", "Product")">Xem thêm</a></p>
                </div>
            </div>*@

        </div>
        <div class="row">
            @foreach (var item in Model)
            {

                if (quan_count < maxLength)
                {
                    if (item.ID_Loai == 2)
                    {
                        <div class="col-md-4 item">
                            @*<a href="@Html.Action("Detail","Index", new { id=item.ID_SP })">*@
                            <a href="/Detail/Index/@item.ID_SP">
                                <div class="item-inner"></div>
                                <div class="item-img-wrap">
                                    <img src="@Url.Content(item.Image)" class="item-img" />
                                </div>
                                <p class="item-name">@Html.DisplayFor(modelItem => item.TenSP)</p>
                                <div class="item-price">

                                    <span> @Html.DisplayFor(modelItem => item.DonGia) đ</span>
                                </div>
                            </a>
                            @*<a href="/Shopping/AddToCart/@item.IDPro" id="btn_cart">Thêm vào giỏ</a>*@
                        </div>
                        quan_count++;
                    }
                }
            }
            <div class="btn-more">
                <p> <a href="@Url.Action("Quan", "Product")" class="btn-more-a"> Xem thêm</a></p>
            </div>
        </div>
    </div>
    @*-------------------Giay-------------------------------*@
    <div class="col">

        <div class="content-top">
            @*<div class="heading">
                <h3> Giày </h3>
                <div class="btn-more">
                    <p><a href="@Url.Action("Giay", "Product")">Xem thêm</a></p>
                </div>
            </div>*@

        </div>
        <div class="row">
            @foreach (var item in Model)
            {

                if (item.ID_Loai == 3)
                {
                    if (giay_count < maxLength)
                    {
                        <div class="col-md-4 item">
                            @*<a href="@Html.Action("Detail","Index", new { id=item.ID_SP })">*@
                            <a href="/Detail/Index/@item.ID_SP">
                                <div class="item-inner"></div>
                                <div class="item-img-wrap">
                                    <img src="@Url.Content(item.Image)" class="item-img" />
                                </div>
                                <p class="item-name">@Html.DisplayFor(modelItem => item.TenSP)</p>
                                <div class="item-price">

                                    <span> @Html.DisplayFor(modelItem => item.DonGia) đ</span>
                                </div>
                            </a>
                            @*<a href="/Shopping/AddToCart/@item.IDPro" id="btn_cart">Thêm vào giỏ</a>*@
                        </div>
                    }
                }
            }
            <div class="btn-more">
                <p> <a href="@Url.Action("Giay", "Product")" class="btn-more-a"> Xem thêm</a></p>
            </div>
        </div>
    </div>

</div>

@*<br>
    <h2 class="title">SALE OFF</h2>
    <div class="products">
        <div class="row">
            <div class="col-md-4 item">
                <div class="item-inner"></div>
                <img src="~/Models/HinhAnh/2.jpg" class="item-img" />
                <p class="item-name">HUMAN MADE FLYING DUCK T-SHIRT BLACK</p>
                <div class="item-price">
                    <span class="item-sale">1.500.000đ</span>
                    <span class="item-original">2.000.000đ</span>
                </div>
            </div>
            <div class="col-md-4 item">
                <div class="item-inner"></div>
                <img src="~/Models/HinhAnh/2.jpg" class="item-img" />
                <p class="item-name">HUMAN MADE FLYING DUCK T-SHIRT BLACK</p>
                <div class="item-price">
                    <span class="item-s ale">1.500.000đ</span>
                    <span class="item-original">2.000.000đ</span>
                </div>
            </div>
            <div class="col-md-4 item">
                <div class="item-inner"></div>
                <img src="~/Models/HinhAnh/2.jpg" class="item-img" />
                <p class="item-name">HUMAN MADE FLYING DUCK T-SHIRT BLACK</p>
                <div class="item-price">
                    <span class="item-sale">1.500.000đ</span>
                    <span class="item-original">2.000.000đ</span>
                </div>

            </div>
        </div>
        <button class="btn-more">XEM THÊM</button>
    </div>*@



