
@using DoAnBanHang.Models;
@model SanPham

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var valuedd ="";
   
}

<head>
    <script src="https://kit.fontawesome.com/200d9ab894.js" crossorigin="anonymous"></script>

</head>

<div class="container-fluid">
   
        <div class="row">

            <div class="col-md-6">
                <div class="main-img">
                    <img class="detail-img" src="@Url.Content(Model.Image)">

                </div>
            </div>
            <div class="col-md-6 detail-information">
                @*Tên sản phẩm*@
                @*@Html.HiddenFor(model=>model.ID_SP == Model.SanPham.ID_SP)*@
                <p class="detail-name">
                    @Html.DisplayFor(model => model.TenSP)
                    @*@item.SanPham.TenSP*@
                </p>
                <hr />
                @*Gía tiền sản phẩm*@
                <p class="detail-price">
                    @Html.DisplayFor(model => model.DonGia)
                    @*@item.SanPham.DonGia*@
                </p>
                <hr />
                @*Kích cỡ của sản phẩm*@

                <ul class="table-size">
                    @*@foreach (var item in ViewBag.query)*@
                    @foreach (var item in Model.KichCo.Where(s => s.ID_SP == Model.ID_SP))
            {
                <li class="size"><input id="sizesp" formmethod="post" type="radio" name="size" class="size-choose" value="@item.Size"><label class="size-des">Size  @item.Size</label></li>
                        var check = Request.Form.GetValues("sizesp");
                    }
                    @*Session["a"] = model.Size;*@
                </ul>
                <hr />
                @*Button thêm và thanh toán*@
                <ul class="table-btn">
                    <li><a href="@Url.Action("ThemSanPhamVaoGio", "Cart", new { MaSP = Model.ID_SP, Size = Session.Contents["a"] })"> <button class="btn-add" id="btn" type="submit">THÊM VÀO GIỎ</button></a></li>
                    @*<li><button class="btn-add" type="submit">THÊM VÀO GIỎ</button></li>*@
                    <li><a class="btn-buy" href="#">MUA NGAY</a></li>
                </ul>
                <hr />
                @*Chi tiết của sản phẩm*@
                <p class="detail-title">Chi tiết sản phẩm</p>
                <div>
                    <ul class="detail-des">
                        <li><i class="fas fa-circle"></i>Chất liệu: 100% Cotton</li>
                        <li><i class="fas fa-circle"></i>Regular fit</li>
                        <li><i class="fas fa-circle"></i>Vải 2 chiều</li>
                    </ul>
                </div>
            </div>

        </div>
       
    </div>

